Practica2/Pr2_ProcesoCompra/Pr2_ProcesoCompra/Web References/ProcesoCompra/Proveedor1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Proveedor1/" name="Proveedor1" targetNamespace="http://www.example.org/Proveedor1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Proveedor1/">
      <xsd:element name="solicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="referenciaProducto" type="xsd:string" />
            <xsd:element name="numeroUnidades" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="solicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="precio" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ordenarCompra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="referenciaProducto" type="xsd:string" />
            <xsd:element name="numeroUnidades" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ordenarCompraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ordenado" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="referenciaProducto" type="xsd:string" />
            <xsd:element name="numeroUnidades" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="actualiza" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="solicitarPresupuestoRequest">
    <wsdl:part name="parameters" element="tns:solicitarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="solicitarPresupuestoResponse">
    <wsdl:part name="parameters" element="tns:solicitarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="ordenarCompraRequest">
    <wsdl:part name="parameters" element="tns:ordenarCompra" />
  </wsdl:message>
  <wsdl:message name="ordenarCompraResponse">
    <wsdl:part name="parameters" element="tns:ordenarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarStockRequest">
    <wsdl:part name="parameters" element="tns:actualizarStock" />
  </wsdl:message>
  <wsdl:message name="actualizarStockResponse">
    <wsdl:part name="parameters" element="tns:actualizarStockResponse" />
  </wsdl:message>
  <wsdl:portType name="Proveedor1">
    <wsdl:operation name="solicitarPresupuesto">
      <wsdl:input message="tns:solicitarPresupuestoRequest" />
      <wsdl:output message="tns:solicitarPresupuestoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ordenarCompra">
      <wsdl:input message="tns:ordenarCompraRequest" />
      <wsdl:output message="tns:ordenarCompraResponse" />
    </wsdl:operation>
    <wsdl:operation name="actualizarStock">
      <wsdl:input message="tns:actualizarStockRequest" />
      <wsdl:output message="tns:actualizarStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Proveedor1SOAP" type="tns:Proveedor1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="solicitarPresupuesto">
      <soap:operation soapAction="http://www.example.org/Proveedor1/solicitarPresupuesto" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ordenarCompra">
      <soap:operation soapAction="http://www.example.org/Proveedor1/ordenarCompra" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarStock">
      <soap:operation soapAction="http://www.example.org/Proveedor1/actualizarStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proveedor1">
    <wsdl:port name="Proveedor1SOAP" binding="tns:Proveedor1SOAP">
      <soap:address location="http://localhost:9080/Pr2_Proveedor1/services/Proveedor1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>